<div th:fragment="rightbar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/manager/home">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Admin </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/manager/home">
                <i class="bi bi-book-fill"></i>
                <span>Danh sách sản phẩm </span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/category">
                <i class="bi bi-book"></i>
                <span>Danh sách thể loại sách</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/users">
                <i class="bi bi-people-fill"></i>
                <span>Danh sách khách hàng</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/bill">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Danh sách Hóa đơn</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/admin">
                <i class="bi bi-person-circle"></i>
                <span>Danh sách thông tin Manager</span></a>
        </li>

        <div class="sidebar-heading">
            Thao tác
        </div>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/product/update">
                <i class="bi bi-card-list"></i>
                <span>Cập nhật sản phẩm</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/category/update">
                <i class="bi bi-card-list"></i>
                <span>Cập nhật Thể loại sách</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/manager/admin/update">
                <i class="bi bi-card-list"></i>
                <span>Cập nhật Thông tin Manager</span></a>
        </li>




        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="bi bi-card-list"></i>
                <span>Quay về trang chủ</span></a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>



    </ul>
</div>