<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trang chủ - Quản lý sách</title>

  <!-- Custom fonts for this template-->
  <link href="/manager/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/manager/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <script>
    function confirmSave(event) {
      event.preventDefault(); // Ngăn chặn form gửi ngay lập tức
      if (confirm("Thông tin được lưu thành công")) {
        event.target.submit(); // Nếu người dùng nhấn "OK", submit form
      }
    }
  </script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <div th:include="~{manager/rightbar :: rightbar}"></div>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <div th:include="~{manager/navbar :: navbar}"></div>
      <!-- End of Topbar -->
      <!-- Modal -->
      <div class="container-fluid">

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Cập nhật User</h6>
          </div>
          <div class="card-body">
            <div class="modal-body">
              <div th:if="${param.successMessage}" class="alert alert-success" th:text="${param.successMessage}"></div>
              <form th:action="@{/manager/admin/update/save}" th:object="${admin}" method="post" enctype="multipart/form-data" onsubmit="confirmSave(event)">
                <div class="form-group">
                  <label for="idpro">Tên đăng nhập</label>
                  <input type="text" class="form-control" id="idpro" placeholder="Nhập Username" th:field="*{username}">
                  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label for="idcate">Password</label>
                  <input type="password" class="form-control" id="idcate" placeholder="Nhập password" th:field="*{password}">
                  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label for="bookName">Họ và Tên</label>
                  <input type="text" class="form-control" id="bookName" placeholder="Nhập Họ và Tên" th:field="*{fullname}">
                  <span th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label for="bookAuthor">Email</label>
                  <input type="email" class="form-control" id="bookAuthor" placeholder="Nhập email" th:field="*{email}">
                  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label for="year">Ngày tháng năm sinh</label>
                  <input type="date" class="form-control" id="year" placeholder="Nhập ngày tháng năm sinh" th:field="*{ngaysinh}">
                </div>

                <div class="form-group">
                  <label for="bookPrice">Số điện thoại</label>
                  <input type="text" class="form-control" id="bookPrice" placeholder="Nhập số điện thoại" th:field="*{phoneNumber}">
                  <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <input type="hidden" th:field="*{admin}" value="true">
                </div>

                <div class="form-group">
                  <label for="roleSelect1" class="form -label">Chọn giới tính</label>
                  <select class="form-select" id="roleSelect1" name="role" th:field="*{gender}">
                    <option value="Nam" th:selected="${admin.gender == 'Nam'}">Nam</option>
                    <option value="Nữ" th:selected="${admin.gender == 'Nữ'}">Nữ</option>
                    <option value="Khác" th:selected="${admin.gender == 'Khác'}">Khác</option>
                  </select>
                  <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label for="formFile" class="form-label">Chọn hình ảnh</label>
                  <input class="form-control" type="file" id="formFile" name="imageFile">
                  <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="err"></span> <br>
                </div>

                <div class="form-group">
                  <label>Hình ảnh hiện tại</label>
                  <div>
                    <img th:src="@{${admin.image}}" alt="Product Image" style="max-width: 200px; max-height: 200px;"/>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger">Xóa</button>
                  <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>





      <!--Kết thúc bảng edit-->
      <!-- Footer -->
      <div th:include="~{manager/footer :: footer}"></div>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Bootstrap core JavaScript-->
  <script src="/manager/vendor/jquery/jquery.min.js"></script>
  <script src="/manager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/manager/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/manager/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/manager/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/manager/js/demo/chart-area-demo.js"></script>
  <script src="/manager/js/demo/chart-pie-demo.js"></script>

</body>

<style>
  .err {
    color: red;
  }
</style>
</html>
