<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Trang chủ - BookStore</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="/img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .nav-item {
        white-space: nowrap;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block  " >
            <div class="d-inline-flex align-items-center">
                <div class="navbar-nav ml-auto py-0 d-flex align-items-center">
                    <div th:if="${session.loggedInUser != null}" class="d-flex align-items-center">
                        <a href="/user_info" class="nav-item nav-link" th:text="'Welcome, ' + ${session.loggedInUser}"></a>
                        <span class="text-muted px-2">|</span>
                        <a th:href="@{/logout}" class="nav-item nav-link"><span th:text="#{home.logout}"></span></a>
                        <span class="text-muted px-2">|</span>
                        <div th:if="${session.isAdmin}">
                            <a href="/manager/home" class="nav-item nav-link"><span th:text="#{home.admin}"></span></a>
                        </div>
                    </div>
                    <div th:if="${session.loggedInUser == null}" class="d-flex align-items-center">
                        <a href="/login" class="nav-item nav-link"><span th:text="#{home.login}"></span></a>
                        <span class="text-muted px-2">|</span>
                        <a href="/login" class="nav-item nav-link"><span th:text="#{home.register}"></span></a>
                    </div>
                </div>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" href="">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" href=""><span th:text="#{home.help}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{/sup}"><span th:text="#{home.sup}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{?lang=en}"><span th:text="#{home.la}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{?lang=vi}"><span th:text="#{home.vn}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{?lang=fr}"><span th:text="#{home.fr}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{?lang=ko}"><span th:text="#{home.ko}"></span></a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark nav-item" th:href="@{?lang=ja}"><span th:text="#{home.ja}"></span></a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-dark pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="/" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">BOOKSTORE</span></h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <div class="navbar-nav d-flex mr-auto py-0">
                <a href="/shop" class="nav-item nav-link"><span th:text="#{home.shop}"></span></a>
            </div>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="/history" class="btn border">
                <i class="bi bi-clock-history"></i>
                <span class="badge">Lịch sử mua hàng</span>
            </a>

            <a href="/cart" class="btn border">
                <i class="bi bi-bag-fill"></i>
                <span class="badge" th:text="${sizeCart}"></span>
            </a>
        </div>
    </div>
</div>

<!-- Navbar Start -->
<div class="row border-top px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
            <h6 class="m-0">Thể loại</h6>
            <i class="fa fa-angle-down text-dark"></i>
        </a>
        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
            <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                <a th:each="category : ${categories}" th:text="${category.nameCategory}" class="nav-item nav-link"><span th:text="#{home.cate}"></span></a>
            </div>
        </nav>
    </div>
    <div class="col-lg-9">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="height: 410px;">
                    <img class="img-fluid" src="/img/banner.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center"></div>
                </div>
                <div class="carousel-item" style="height: 410px;">
                    <img class="img-fluid" src="/img/banner2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Navbar End -->

<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div th:include="~{home/FeaturedStart :: fea}"></div>
</div>
<!-- Featured End -->

<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="/img/doraemon.png" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3" th:text="#{home.save1}"></h5>
                    <h1 class="mb-4 font-weight-semi-bold"><span th:text="#{home.save2}"></span></h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="/img/conan.jpg" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3"><span th:text="#{home.save1}"></span></h5>
                    <h1 class="mb-4 font-weight-semi-bold"><span th:text="#{home.save3}"></span></h1>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">HOT!</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        <div th:each="product : ${products}" class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" th:src="@{${product.image}}" alt="" style="object-fit: cover; height: 800px; width: 100%;">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3" th:text="${product.name}"></h6>
                    <div class="d-flex justify-content-center">
                        <h6 th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT').trim()} + ' VND'"></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a th:href="@{'/chitiet/' + ${product.productID}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i><span th:text="#{home.view}"></span></a>
                    <a th:href="@{/addcart(id=${product.productID})}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i><span th:text="#{home.cart}"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="/img/momo.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="/img/vnpay.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="/img/nvc.png" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="/img/fahasa.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div th:include="~{home/footer :: footer}"></div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/mail/jqBootstrapValidation.min.js"></script>
<script src="/mail/contact.js"></script>
<script src="/js/main.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $("a[href*=lang]").on("click", function() {
            var param = $(this).attr("href");
            var currentUrl = window.location.pathname;
            $.ajax({
                url: currentUrl + param,
                success: function() {
                    location.reload();
                }
            });
            return false;
        });
    });
    /*]]>*/
</script>
</body>
</html>
